@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Comic Sans MS', cursive; color: #3982ED;">
        ¡Bienvenido!<br>
        <span style="font-size: 32px;">（〃｀ 3′〃）</span>
    </h1>
    <p style="font-family: 'Arial', sans-serif; font-size: 18px; color: #333;">Conoce más sobre nuestras instalaciones <br> <a href="https://esfe.agape.edu.sv/" class="button-link">Clic</a></p>
    <style>
        .button-link {
            font-family: 'Comic Sans MS', cursive;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            background-color: #3982ED;
            border: none;
            padding: 15px 25px;
            border-radius: 25px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            display: inline-block;
            margin-top: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

            .button-link:hover {
                background-color: #39DAED;
            }
    </style>

</div>
