@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!<br>
        （〃｀ 3′〃）</h1>
    <p>Conoce más sobre nuestras instalaciones <br> <a href="https://esfe.agape.edu.sv/" class="button-link">Clic</a></p>
    <style>
        .button-link {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #007bff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            display: inline-block;
        }

            .button-link:hover {
                background-color: #0056b3;
            }
    </style>

</div>
