@model BibliotecaESFE.EN.Usuarios
@using BibliotecaESFE.EN

@{
    ViewData["Title"] = "Crear";
    List<Role> roles = ViewBag.Roles as List<Role>;
}

<h1>Crear Usuario</h1>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">SELECCIONAR</option>
                    <option selected value="1">ACTIVO</option>
                    <option value="2">INACTIVO</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ConfirmPassword_Aux" class="control-label"></label>
                <input asp-for="ConfirmPassword_Aux" class="form-control" />
                <span asp-validation-for="ConfirmPassword_Aux" class="text-danger"></span>
            </div>
        </div>

    </div>e
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="IdRole" class="control-label"></label>
                <select asp-for="IdRole" class="form-control">
                    <option selected value="">SELECCIONAR</option>
                    @foreach (var item in roles)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index">Regresar a la lista</a>
            </div>
            <span class="text-danger">@ViewBag.Error</span>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}