@model BibliotecaESFE.EN.Usuarios
@using BibliotecaESFE.EN

@{
    ViewData["Title"] = "Crear";
    List<Role> roles = ViewBag.Roles as List<Role>;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 28px;
        }

        form {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        select, input[type="text"], input[type="password"] {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 10px;
            width: 100%;
            transition: border-color 0.2s;
        }

            select:focus, input[type="text"]:focus, input[type="password"]:focus {
                outline: none;
                border-color: #007bff;
            }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }

        .back-link {
            margin-top: 20px;
            display: block;
            text-align: center;
            font-size: 16px;
        }

            .back-link a {
                color: #007bff;
                text-decoration: none;
                transition: color 0.2s;
            }

                .back-link a:hover {
                    color: #0056b3;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Crear Usuario</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nombre:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Apellido:</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label">Estado:</label>
                        <select asp-for="Status" class="form-control">
                            <option value="">SELECCIONAR</option>
                            <option selected value="1">ACTIVO</option>
                            <option value="2">INACTIVO</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Login" class="control-label">Nombre de usuario:</label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña:</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword_Aux" class="control-label">Confirmar Contraseña:</label>
                        <input asp-for="ConfirmPassword_Aux" class="form-control" />
                        <span asp-validation-for="ConfirmPassword_Aux" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdRole" class="control-label">Rol:</label>
                        <select asp-for="IdRole" class="form-control">
                            <option value="">SELECCIONAR</option>
                            @foreach (var item in roles)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="IdRole" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        <a asp-action="Index">Regresar a la lista</a>
                    </div>
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
