@model BibliotecaESFE.EN.Categorias

@{
    ViewData["Title"] = "Detalles";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            background-color: #f9f9f9;
        }

        .card {
            border: none;
            border-radius: 25px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .card-header {
            background-color: #f54242;
            color: #fff;
            border-radius: 25px 25px 0 0;
            text-align: center;
            padding: 20px 0;
        }

        .card-body dl dt {
            color: #f54242;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .card-body dl dd {
            margin-bottom: 10px;
        }

        .btn-edit {
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            transition: all 0.3s ease;
        }

            .btn-edit:hover {
                background-color: #45a049;
            }

        .btn-back {
            background-color: #2196f3;
            color: #fff;
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            transition: all 0.3s ease;
        }

            .btn-back:hover {
                background-color: #0b7dda;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Detalles de la categoría</h1>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Nombre:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
                        </dl>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-edit"><i class="fas fa-edit me-2"></i> Modificar</a>
                        <a href="@Url.Action("Index")" class="btn btn-back"><i class="fas fa-arrow-left me-2"></i> Regresar a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
