@model BibliotecaESFE.EN.Role

@{
    ViewData["Title"] = "Eliminar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Rol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding: 20px;
        }

        .container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #007bff;
            text-align: center;
            margin-bottom: 30px;
        }

        h3 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }
    </style>
</head>
<body>

    <div class="container">
        <h1>Eliminar rol</h1>

        <h3>¿Está seguro de eliminar el registro?</h3>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Eliminar</button> |
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar a la lista</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
